@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

body{
    margin: 0;
    background-color: green;
    /* background: url("../images/0001.jpg"); */
    min-height:88vh;
    font-family: 'Azeret Mono', monospace;
    font-size:10px;
}

.mrg-auto{
    margin-left: auto;
    margin-right: auto;
}

#gameContainer{
    display: flex;
}

#scoreContainer{
    height: 20vmin;
    width: 40vmin;
    margin-top: 11vmin;
    margin-right: 14vmin;
}

#board{
    /* don't use px, try to use vmin and vmax */
    height: 74vmin;
    width: 74vmin;
    border: 1px solid black;
    background: linear-gradient(lightgreen, white);
    margin-top: 11vmin;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    margin-left:70vmin;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.food{
    background: linear-gradient(gold, goldenrod);;
    border: 1px solid black;
    border-radius: 11px;
}

.head{
    background: linear-gradient(red, orange);
    border: 1px solid black;
    border-radius: 8px;
}

.snake{
    background-color: purple;
    border: 1px solid white;
    border-radius: 8px;
}